<%= form_with(model: award, local: true) do |form| %>
  <% if award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(award.errors.count, "error") %> prohibited this award from being saved:</h2>

      <ul>
      <% award.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contact_email %>
    <%= form.text_field :contact_email %>
  </div>

  <div class="field">
    <%= form.label :answer_1 %>
    <%= form.text_field :answer_1 %>
  </div>

  <div class="field">
    <%= form.label :answer_2 %>
    <%= form.text_field :answer_2 %>
  </div>

  <div class="field">
    <%= form.label :answer_3 %>
    <%= form.text_field :answer_3 %>
  </div>

  <div class="field">
    <%= form.label :answer_4 %>
    <%= form.text_field :answer_4 %>
  </div>

  <div class="field">
    <%= form.label :answer_5 %>
    <%= form.text_field :answer_5 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
