<p id="notice"><%= notice %></p>

<p>
  <strong>Contact email:</strong>
  <%= @award.contact_email %>
</p>

<p>
  <strong>Answer 1:</strong>
  <%= @award.answer_1 %>
</p>

<p>
  <strong>Answer 2:</strong>
  <%= @award.answer_2 %>
</p>

<p>
  <strong>Answer 3:</strong>
  <%= @award.answer_3 %>
</p>

<p>
  <strong>Answer 4:</strong>
  <%= @award.answer_4 %>
</p>

<p>
  <strong>Answer 5:</strong>
  <%= @award.answer_5 %>
</p>

<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
