<!DOCTYPE html>
<html>
  <head>
    <title>AWS Summit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div class="container-fluid">
        <nav class="navbar navbar-light" style="background-color: #141635;">
          <a class="navbar-brand">
            <%= image_tag 'conekta-logo-blanco.png', alt: 'description', size: "150x27" %>
          </a>
        </nav>
      </div>
    </div>  
    
    <div class="container-fluid">
      <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
          <%= yield %>
        </div>
        <div class="col">
        </div>
      </div>  
    </div>    
  </body>
</html>
