<!DOCTYPE html>
<html>
  <head>
    <title>AWS Summit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-light style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Conekta</a>
  </nav>
    <%= yield %>
  </body>
</html>
